<li class="item" data-id="{{id}}" style="width: 414px;">
    {{#if fileId}}
        <img alt="{{name}}" class="img_thumb" src="http://127.0.0.1:8080/files/{{fileId}}">
    {{else}}
        <img alt="{{name}}" class="img_thumb" src="https://ssl.phinf.net/naverbooking/20170119_135/1484789767866RPO6o_JPEG/%B7%CE%B9%CC%BF%C0%C1%D9%B8%AE%BF%A7_1242.jpg?type=ff1242_1242">
    {{/if}}
    <span class="img_bg"></span>
    <div class="visual_txt">
        <div class="visual_txt_inn">
            <h2 class="visual_txt_tit"> <span>{{name}}</span> </h2>
            <p class="visual_txt_dsc">{{description}}</p>
        </div>
    </div>
</li>
